<?xml version="1.0" encoding="utf-8"?>

<launch>

<!-- pass path to setup.yaml -->
<rosparam command = "load" file="$(find hardware_interface)/config_setup/setup.yaml"/>


<!-- start lowlevel controller node-->
<node name="hardware_interface" pkg ="hardware_interface" type ="hardware_interface_executable" output="screen" args="$(find hardware_interface)/config_setup/setup.yaml"/>

</launch>